name: Generate and deploy Doxygen docs

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Generate documentation
        run: doxygen Doxyfile

      - name: Upload Doxygen docs
        uses: actions/upload-pages-artifact@v2
        with:
          path: docs/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
